$scissor-color: hsl(39, 89%, 49%);
$paper-color: hsl(230, 89%, 62%);
$rock-color: hsl(349, 71%, 52%);
$lizard-color: hsl(261, 73%, 60%);
$spock-color: hsl(189, 59%, 53%);

$pentagon-image: "../assets/images/bg-pentagon.svg";

$scissor-image: "../assets/images/icon-scissors.svg";
$scissor-bs-color: hsla(39, 89%, 49%, 0.7);

$spock-image: "../assets/images/icon-spock.svg";
$spock-bs-color: hsla(189, 59%, 53%, 0.7);

$paper-image: "../assets/images/icon-paper.svg";
$paper-bs-color: hsla(230, 89%, 62%, 0.7);

$lizard-image: "../assets/images/icon-lizard.svg";
$lizard-bs-color: hsla(261, 73%, 60%, 0.7);

$rock-image: "../assets/images/icon-rock.svg";
$rock-bs-color: hsla(349, 71%, 52%, 0.7);
